<form id="form-cliente">
    <div class="form-group">
        <label>Nome da cliente</label>
        <input type="text" name="nome" id="nome" class="form-control">
    </div>
    <div class="form-group row">
        <div class="col-8">
            <label>Email do cliente</label>
            <input type="text" name="email" id="email" class="form-control">
        </div>
        <div class="col-4">
            <label>Telefone do cliente</label>
            <input type="text" name="telefone" id="telefone" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-md-6">
            <label>Status</label>
            <select name="ativo" id="ativo" class="form-control">
                <option value="1">Ativo</option>
                <option value="2">Desativado</option>
            </select>
        </div>
        <div class="col-12 col-md-6">
            <label>Data Atual</label>
            <input type="datetime" name="dataagora" id="dataagora" readonly class="form-control">
        </div>
    </div>
    <input type="hidden" name="idcliente" id="idcliente">
</form>