<div class="row mt-5">
    <div class="col-12 mt-3">
        <div class="card shadow">
            <div class="card-header">
                <div class="card-title row">
                    <div class="col-12 col-md-9">
                        <h4 class="text-dark">Gerenciar clientes</h4>
                    </div>
                    <div class="col-12 col-md-3">
                        <button class="btn btn-dark btn-new btn-block"><i class="mdi mdi-plus-circle"></i> Adicionar</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="table-cliente">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="text-center">Código</th>
                                <th scope="col" class="text-center">Cliente</th>
                                <th scope="col" class="text-center">Email</th>
                                <th scope="col" class="text-center">Telefone</th>
                                <th scope="col" class="text-center">Atualização</th>
                                <th scope="col" class="text-center">Status</th>
                                <th scope="col" class="text-center">Ações</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-cliente" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="my-modal-title">Title</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Content</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="mdi mdi-close-circle"></i> Fechar</button>
                <button type="button" class="btn btn-primary btn-save"><i class="mdi mdi-content-save"></i> Salvar mudanças</button>
            </div>
        </div>
    </div>
</div>

<script src="src/clientes/controller/new-cliente.js"></script>
<script src="src/clientes/controller/save-cliente.js"></script>
<script src="src/clientes/controller/list-cliente.js"></script>
<script src="src/clientes/controller/view-cliente.js"></script>
<script src="src/clientes/controller/delete-cliente.js"></script>
<script src="src/clientes/controller/update-cliente.js"></script>