<div class="row">
    <div class="col-6">
        <p id="nome" class="border-right">Nome: </p>
    </div>
    <div class="col-3">
        <p id="idcliente" class="border-right">Código: </p>
    </div>
    <div class="col-3">
        <p id="ativo">Status: </p>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <p id="email" class="border-right">Email: </p>
    </div>
    <div class="col-4">
        <p id="telefone">Telefone: </p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <p id="datacriacao" class="border-right">Data criação: </p>
    </div>
    <div class="col-6">
        <p id="datamodificacao">Ultima atualização: </p>
    </div>
</div>